@import "tailwindcss";
@source "./src";

/* You can keep reset BUT it must NOT override utilities */
@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    overflow-x: hidden;
  }
}

.react-flow__node {
  cursor: pointer;
}
.react-flow__node.selected {
  box-shadow: 0 0 0 2px #3b82f6;
}
.react-flow__edge-path {
  stroke-width: 2;
}
.react-flow__edge.selected .react-flow__edge-path {
  stroke: #3b82f6;
}
